[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/StreamingAssets/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.DS_Store
*.apk
*.unitypackage
.vscode/
